@import "tailwindcss";
@layer utilities {
  .bg-gradient-mesh {
    background-color: #f0f8ff;
    background-image: radial-gradient(
        circle at 90% 10%,
        rgba(0, 255, 255, 0.2),
        transparent 40%
      ),
      radial-gradient(
        circle at 90% 60%,
        rgba(255, 0, 255, 0.15),
        transparent 20%
      ),
      radial-gradient(
        circle at 50% 50%,
        rgba(173, 216, 230, 0.3),
        transparent 20%
      );
  }

  .bg-noise {
    background-image: url("image-from-rawpixel-id-12504330-png.png");
    background-repeat: repeat;
    background-blend-mode: overlay; /* Optional: helps blend the noise with the colors */
    opacity: 0.03; /* Make it very subtle */
    /* This ensures the noise covers the entire viewport */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Allows clicks to go through */
  }
}
